.banner{
    background-image: url("../../../images/banner.png");
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.content{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 25%;
    padding: 10px;
}
